@tailwind base;
@tailwind components;

.container-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container-numbers div::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: middle;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@tailwind utilities;
